#contactPage
{
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contactPageTitle
{
    font-size: 3rem;
    margin-bottom: 1rem;
}

#clients
{
    padding: 2rem;
}

.clientsDesc
{
    font-weight: 300;
    font-size: 1rem;
}

.clientsImgs
{
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

.clientsImg
{
    object-fit: cover;
    width: 23%;
    min-width: 9rem;
    margin: auto;
    padding: 0.25rem;
}

.contactDesc
{
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}

.contactForm
{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    max-width: 60rem;
}

.name, .email, .msg
{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
}

.submitBtn
{
    background: white;
    border: none;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 0.75rem 3.5rem;
}

.links
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
}

.link
{
    object-fit: cover;
    width: 3rem;
    height: 3rem;
    margin: 0 0.75rem;
}